<div class= "container" id= "container">
    <div class= "row">
        <div class= "col-lg-12 text-center">
            <img src= "public\assets\burger.png" alt="Burger"/>
            <h1>Eat-the-Burger</h1>
        </div>   

        <div class= "col-md-6 text-center">
            <div>
           <button type="button" class="btn btn-primary">List new burger.</button>
            <form>
              <textarea></textarea>
            </form>
               {{#each burgers}},
               {{#unless devoured}},
           <button type="button" class="btn btn-warning">Devour new burger.</button>
           </div>

           <div class= "col-md-6 text-center">

             <ul>
               {{#each burgers}},
               {{#if devoured}},
             </ul>

           </div>

         </div> 
    </div>        


</div>